/*CSS */

/*Change the background-image of my body section. The image is stored in the img folder.
Selected a bit of margin to the body of this document.
Changed the font-family.*/    
body {
    background-image: url(../images/matrix.png);
    margin:20px;
    font-family: 'Bahiana';
}

/*Setting a background-color for the div container*/
.container {
    background-color: black;
}

/*Setting border and padding properties for the div menu.
  Setting text color and background-color.*/
  #catalog {
    border: 5px solid black;
    color: white;
    padding: 100px 20px;
    background-color: black;
}

/*Increasing the font-size for this element and aligning it to the center of the div in which it is located.
Also adding a background-image.*/
#heading {
    font-family: 'Bahiana';
    font-size: 130px;
    text-align: center;
    padding: 70px;
    background-image: url(../images/film.jpg);
}

/*Increasing the font-size of the text within this class.*/
.badge {
    font-size: 37px;
}

/*Establishing a background-color for this div as well as text color, size and border properties.*/
.table_of_contents {

      background-color: white;
      color: black;
      border: 1px solid black;
      font-size: 32px;
  }
/*Increasing the font-size of all <h1> within the table element.*/
#table h1 {

    font-size: 80px;
}
  
table h3, table h2{
    font-size: 35px;
}


.total {

    font-size: 65px;
}

/*Adding some padding to the heading, row and column elements of a table.*/
th, tr, td {

      padding: 10px 25px;
   
  }

/*Changing the background-color of all heading elements and elements belonging to the .genres class.
    Changing text color of the text within this element.
    Adding some padding to this element.*/

.genres, th {

    background-color: black;
    color: white;
    padding: 30px; 
}

/*The :nth-child(even) selects all the even rows of this table.
    Setting that all the even rows will have a specific background-color, which is different from the odd rows within the same table.*/
tr:nth-child(even) {
      background-color: #f2f2f2;
  }

/*Setting a background-color for these div elements and increasing the font-size.*/
#totalComedy, #totalDrama, #totalRomance, #totalHorror, #totalAction, #totalSciFi, #totalClassic, #totalSeries, #totalMovies {
    background-color: rgb(22, 197, 22);
    font-size: 35px;
}

#totalPrice {
  background-color: rgb(228, 206, 15);
}


#panel {
    padding: 50px;
    font-size: 35px;
    color: white;
    display:none;
}

/*Changing some font properties of all h2 elements within this class.*/
.jumbotron h2 {
  font-size: 70px;
  text-decoration:overline underline #FF3028;
}

.jumbotron {

    background-color: black;
}

.jumbotron a {
    font-size: 30px;
  }

  #contact {
    font-size: 30px;
}
  
.bs-example a {
    font-size: 30px;
}



/*END*/